admin-csr.json             
admin-key.pem              
admin.csr                  
admin.pem                  
admin.kubeconfig
ca-config.json             
ca-csr.json                
ca-key.pem                 
ca.csr                     
ca.pem                     
encryption-config.yaml     
kube-controller-manager-csr.json
kube-controller-manager-key.pem
kube-controller-manager.csr
kube-controller-manager.kubeconfig
kube-controller-manager.pem
kube-scheduler-csr.json
kube-scheduler-key.pem
kube-scheduler.csr
kube-scheduler.kubeconfig
kube-scheduler.pem
kube-proxy-csr.json        
kube-proxy-key.pem         
kube-proxy.csr             
kube-proxy.kubeconfig      
kube-proxy.pem             
kubernetes-csr.json        
kubernetes-key.pem         
kubernetes.csr             
kubernetes.pem             
worker-0-csr.json          
worker-0-key.pem
worker-0.csr
worker-0.kubeconfig
worker-0.pem
worker-1-csr.json
worker-1-key.pem
worker-1.csr
worker-1.kubeconfig
worker-1.pem
worker-2-csr.json
worker-2-key.pem
worker-2.csr
worker-2.kubeconfig
worker-2.pem
service-account-key.pem
service-account.csr
service-account.pem
service-account-csr.json
.idea
ubuntu-bionic*.log
.vagrant
temp